#{extends 'report.html'/}
#{set title:playerInfo.name/}

#{set 'moreScripts'}
<script type="text/javascript">
$(function(){
	$('#season').change(function(){		
		window.location.href = '/basedata/player/recent/${playerId}/seasonBoxScore?year='+$("#season option:selected").val();
	});
});
</script>
#{/set}

#{player.tPlayerNavi playerId:playerId/}

<div class="query_nar">
	<select id="season" name="season">
		<option value="2014" #{if year == 2014} selected #{/if}>2014</option>
		<option value="2013" #{if year == 2013} selected #{/if}>2013</option>
		<option value="2012" #{if year == 2012} selected #{/if}>2012</option>
	</select>
</div>

<div class="query_nar" style=" top:200px">	
	<div class="column">
	#{player.tRecentPlayerScore gamePlayers:playerInfos /}
	</div>
</div>