<div class="reportleft clearfix">
	${gameInfo.guest_name}:<a href="javascript:void;" name="orderPoint" targetid="awayPlayers"  teamId="${gameInfo.guest_id}"  gameId="${gameInfo.id}">得分</a>
	#{player.tPlayersTable players:awayPlayers,pssMap:pssMap,gameInfo:gameInfo/} 
	
</div>
<div class="reportright clearfix">
	${gameInfo.home_name}:<a href="javascript:void;" name="orderPoint" targetid="homePlayers"  teamId="${gameInfo.home_id}"  gameId="${gameInfo.id}">得分</a>	
	#{player.tPlayersTable players:homePlayers,pssMap:pssMap,gameInfo:gameInfo/} 
</div>