*{基础数据导航条}*
*{var _gameId}*

	
<ul id="linav" class="align:left;">
	 <li><a  href="/basedata/game/score/${_gameId}">详细数据</a></li> 
	 <li><a  href="/basedata/game/gameStatements/${_gameId}">统计数据</a></li> 
	 <li><a href="/basedata/game/report/${_gameId}?reportType=1">战报</a></li> 
	 <li><a href="/basedata/game/preview/${_gameId}?reportType=2">前瞻</a></li> 
	 <li><a  href="/basedata/game/lottery/${_gameId}">盘口</a></li> 
	 <li><a  href="/basedata/game/experience/${_gameId}">经验</a></li> 
	 <li><a  href="/basedata/game/espnchart/${_gameId}">espn</a></li>
</ul>
	
