<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>#{get 'title'/}</title>
<link href="/public/stylesheets/reset.css" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/jquery.js" type="text/javascript"></script>
<script src="/public/javascripts/public-min.js" type="text/javascript"></script>
<script src="/public/javascripts/basketball.js" type="text/javascript"></script>
<script src="/public/javascripts/loaddata.js" type="text/javascript"></script>
<script src="/public/javascripts/DatePicker/lhgcalendar.min.js"></script>
#{get 'moreStyles' /}
#{get 'moreScripts' /}
</head>
<body>

	<div class="container clearfix">
		#{doLayout/}
	</div>
</body>
</html>